# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea
*.pyc

# Build
vendor
build
tools/bin/*
examples/build/*
docs/_build
docs/tutorial
dist
tools-stamp
nodef
!nodef/
clif
!clif/

# Data - ideally these don't exist
baseapp/data/*
client/lcd/keys/*
mytestnet

# Testing
coverage.txt
profile.out
sim_log_file
integration_tests/*.txt
.cache
.cache/*
.pytest_cache
__pycache__

# Vagrant
.vagrant/
*.box
*.log
vagrant

# IDE
.idea/
*.iml
tags

# Graphviz
dependency-graph.png

# Latex
*.aux
*.out
*.synctex.gz

# third party
CasperLabs

# Wasm binary
*.wasm
